@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Sen:wght@400;700;800&display=swap");
body,
.App,
#root,
html,
.container {
  height: 100%;
  position: relative;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #1a374d;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Sen;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

h3 {
  font-size: 30px;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  h3 {
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  h3 {
    font-size: 25px;
  }
}

button {
  padding: 10px 12px;
  border-radius: 17px;
  border: none;
  background: #6798a3;
  border: 1px solid #6798a3;
  color: #fff;
  margin-top: 80px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 600px) {
  button {
    padding: 8px 10px;
    font-size: 12px;
  }
}
button:hover {
  background: #fff;
  border: 1px solid #6798a3;
  color: #6798a3;
}

.navbar {
  width: 100%;
  position: fixed;
  background: #fff;
  box-shadow: 7px 2px 8px 0px rgba(208, 208, 208, 0.172);
  z-index: 999;
}
.navbar .nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
}
@media (max-width: 600px) {
  .navbar .nav {
    padding: 10px 30px;
  }
}
@media (max-width: 400px) {
  .navbar .nav {
    padding: 8px 20px;
  }
}
.navbar .nav p {
  font-size: 35px;
  font-family: cinzel decorative;
  font-weight: 700;
  color: #6798a3;
}
@media (max-width: 400px) {
  .navbar .nav p {
    font-size: 32px;
  }
}
.navbar .nav ul {
  display: flex;
  text-transform: capitalize;
  width: 23%;
  justify-content: space-between;
  font-size: 13px;
}
@media (max-width: 1030px) {
  .navbar .nav ul {
    width: 28%;
  }
}
@media (max-width: 800px) {
  .navbar .nav ul {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .navbar .nav ul {
    display: none;
  }
}
.navbar .nav ul li {
  position: relative;
}
.navbar .nav ul li::after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 3px;
  background-color: #6798a3;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.2s ease-in-out;
}
.navbar .nav ul li:hover::after {
  width: 100%;
}
.navbar .nav .menu {
  border: none;
  padding: 0;
  background: none;
  display: none;
  margin: 0;
}
@media (max-width: 600px) {
  .navbar .nav .menu {
    display: block;
  }
}
.navbar .nav .menu img {
  width: 35px;
}
@media (max-width: 400px) {
  .navbar .nav .menu img {
    width: 25px;
  }
}

.header {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.header-content {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  padding-top: 40px;
}
@media (max-width: 800px) {
  .header-content {
    width: 85%;
  }
}
@media (max-width: 400px) {
  .header-content {
    width: 90%;
  }
}
.header-content div {
  width: 50%;
}
@media (max-width: 600px) {
  .header-content div {
    width: 70%;
  }
}
@media (max-width: 400px) {
  .header-content div {
    width: 100%;
  }
}
.header-content div p:first-child {
  font-size: 17px;
  margin-bottom: 20px;
}
.header-content div p:nth-child(2) {
  font-size: 50px;
  margin-bottom: 15px;
}
@media (max-width: 1030px) {
  .header-content div p:nth-child(2) {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .header-content div p:nth-child(2) {
    font-size: 45px;
  }
}
@media (max-width: 400px) {
  .header-content div p:nth-child(2) {
    font-size: 40px;
  }
}
.header-content div p:nth-child(2) span {
  font-weight: 600;
  color: #6798a3;
}
@media (max-width: 400px) {
  .header-content div p:nth-child(2) span {
    width: 100%;
  }
}
.header-content figure {
  width: 46%;
}
@media (max-width: 1030px) {
  .header-content figure {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .header-content figure {
    display: none;
  }
}
.header-content figure img {
  width: 100%;
}

.works {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.works .work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}
@media (max-width: 800px) {
  .works .work-grid {
    grid-template-columns: 1fr;
  }
}
.works .work-grid figure {
  width: 100%;
  height: 300px;
  box-shadow: 0px 2px 8px 0px rgba(208, 208, 208, 0.385);
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  margin-left: 0;
  transition: 1s;
}
@media (max-width: 800px) {
  .works .work-grid figure {
    height: auto;
  }
}
.works .work-grid figure::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  color: #fff;
  transition: background 0.3s ease-in-out;
}
.works .work-grid figure:hover::after {
  background: #6798a38a;
}
.works .work-grid figure img {
  width: 100%;
  height: 100%;
}
.works .work-grid figure:hover {
  box-shadow: 0px 2px 8px 0px rgba(208, 208, 208, 0.933);
}
@media (max-width: 800px) {
  .works .work-grid figure:not(:last-child) {
    margin-bottom: 30px;
  }
}
.works .see-more-slide {
  display: none;
  place-items: center;
  display: none;
}
.works .see-more-slide .see-more {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: width 0.2s ease-in-out;
}
.works .see-more-slide .see-more:hover {
  width: 105px;
}
.works .see-more-slide .see-more svg {
  width: 20px;
}
@media (max-width: 600px) {
  .works .see-more-slide {
    display: grid;
  }
}
.works .prev,
.works .next {
  display: none;
  margin: 0;
  border: none;
  background: none;
  padding: 0;
}
@media (max-width: 600px) {
  .works .prev,
.works .next {
    display: flex;
    position: absolute;
    top: 50%;
  }
  .works .prev .arrows,
.works .next .arrows {
    width: 55px;
  }
}
@media (max-width: 400px) {
  .works .prev .arrows,
.works .next .arrows {
    width: 45px;
  }
}
.works .prev {
  left: 0px;
}
@media (max-width: 400px) {
  .works .prev {
    left: -5px;
  }
}
.works .next {
  right: 0px;
}
@media (max-width: 400px) {
  .works .next {
    right: -5px;
  }
}
@media (max-width: 800px) {
  .works {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .works {
    width: 100%;
  }
  .works .grid-container {
    width: 80%;
    margin: 0 auto;
  }
  .works .work-grid {
    display: grid;
    grid-template-columns: repeat(5, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    grid-gap: 0;
  }
  .works .work-grid figure {
    width: 100%;
    box-shadow: none;
  }
  .works .work-grid figure:not(:last-child) {
    margin-bottom: 0;
  }
  .works .work-grid figure img {
    width: 95%;
    box-shadow: 0px 2px 8px 0px rgba(208, 208, 208, 0.385);
  }
  .works .more-projects {
    display: none;
  }
}

.about {
  width: 80%;
  margin: 200px auto 0;
  text-align: center;
}
@media (max-width: 800px) {
  .about {
    width: 85%;
  }
}
.about-content {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 1030px) {
  .about-content {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .about-content {
    flex-direction: column;
  }
}
.about-content .img {
  width: 350px;
  height: 350px;
  background-image: url("../images/Remini20210718120431905 1.png");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1030px) {
  .about-content .img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 800px) {
  .about-content .img {
    width: 250px;
    height: 250px;
  }
}
.about-content div {
  width: 50%;
  font-size: 25px;
}
@media (max-width: 1030px) {
  .about-content div {
    font-size: 20px;
    width: 45%;
  }
}
@media (max-width: 800px) {
  .about-content div {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .about-content div:last-child {
    width: 100%;
    margin-top: 50px;
  }
}
.about-content div p {
  text-align: left;
}
@media (max-width: 400px) {
  .about-content div p {
    text-align: center;
  }
}
.about-content div p:nth-child(2) {
  font-size: 15px;
  color: #6798a3;
  margin-top: 40px;
}
@media (max-width: 1030px) {
  .about-content div p:nth-child(2) {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .about-content div p:nth-child(2) {
    text-align: center;
  }
}
.about-content div button {
  margin-top: 30px;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-size: 11px;
}
.footer p {
  color: #6798a3;
}
.footer .socials {
  width: 15%;
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
  justify-content: space-between;
}
.footer .socials img {
  width: 20px;
}
@media (max-width: 600px) {
  .footer .socials {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .footer .socials {
    width: 40%;
  }
}

.work-page {
  width: 80%;
  padding-top: 150px;
  margin: 0 auto;
}
.work-page .work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}
@media (max-width: 800px) {
  .work-page .work-grid {
    grid-template-columns: 1fr;
  }
}
.work-page .work-grid figure {
  width: 100%;
  height: 300px;
  box-shadow: 0px 2px 8px 0px rgba(208, 208, 208, 0.385);
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  margin-left: 0;
  transition: 1s;
}
@media (max-width: 800px) {
  .work-page .work-grid figure {
    height: auto;
  }
}
.work-page .work-grid figure::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  color: #fff;
  transition: background 0.3s ease-in-out;
}
.work-page .work-grid figure:hover::after {
  background: #6798a38a;
}
.work-page .work-grid figure img {
  width: 100%;
  height: 100%;
}
.work-page .work-grid figure:hover {
  box-shadow: 0px 2px 8px 0px rgba(208, 208, 208, 0.933);
}
@media (max-width: 800px) {
  .work-page .work-grid figure:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .work-page {
    width: 90%;
    padding-top: 100px;
  }
}

.about-page {
  padding-top: 150px;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .about-page {
    width: 85%;
  }
}
@media (max-width: 400px) {
  .about-page {
    width: 90%;
    padding-top: 100px;
  }
}
.about-page h3 {
  margin-bottom: 20px;
}
.about-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .about-page-header {
    flex-direction: column-reverse;
  }
}
.about-page-header div {
  width: 60%;
}
@media (max-width: 1030px) {
  .about-page-header div {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .about-page-header div {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .about-page-header div {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .about-page-header div {
    width: 100%;
  }
}
.about-page-header div p {
  font-size: 20px;
  color: #585e63;
  line-height: 30px;
}
@media (max-width: 1030px) {
  .about-page-header div p {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .about-page-header div p {
    font-size: 15px;
    line-height: 25px;
  }
}
.about-page-header img {
  width: 30%;
  object-fit: cover;
  height: 400px;
  border-radius: 100px;
}
@media (max-width: 1030px) {
  .about-page-header img {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .about-page-header img {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .about-page-header img {
    width: 90%;
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .about-page-header img {
    width: 100%;
  }
}
.about-page .education-expertise {
  margin: 150px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1030px) {
  .about-page .education-expertise {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .about-page .education-expertise {
    margin: 120px auto;
  }
}
@media (max-width: 400px) {
  .about-page .education-expertise {
    flex-direction: column;
  }
}
.about-page .education-expertise h4 {
  margin-bottom: 10px;
  font-size: 20px;
}
@media (max-width: 600px) {
  .about-page .education-expertise h4 {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .about-page .education-expertise div:first-child {
    width: 55%;
  }
}
@media (max-width: 400px) {
  .about-page .education-expertise div:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
}
.about-page .education-expertise li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
}
@media (max-width: 600px) {
  .about-page .education-expertise li {
    font-size: 14px;
  }
}
.about-page .education-expertise li img {
  width: 10px;
  margin-right: 5px;
}
.about-page .education-expertise li a {
  font-size: 13px;
  color: #6798a3;
  text-decoration: underline;
  margin-left: 5px;
}
.about-page .get-in-touch {
  text-align: center;
  margin-top: 100px;
}
.about-page .get-in-touch h3 {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .about-page .get-in-touch p {
    font-size: 14px;
  }
}
.about-page .get-in-touch a {
  padding: 10px 12px;
  border-radius: 17px;
  border: none;
  background: #6798a3;
  border: 1px solid #6798a3;
  color: #fff;
  margin-top: 80px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border-radius: 5px;
  font-size: 13px;
  display: inline-block;
  margin-top: 30px;
}
@media (max-width: 600px) {
  .about-page .get-in-touch a {
    padding: 8px 10px;
    font-size: 12px;
  }
}
.about-page .get-in-touch a:hover {
  background: #fff;
  border: 1px solid #6798a3;
  color: #6798a3;
}

.side-menu {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  position: fixed;
  top: 0;
  right: -900px;
  transition: right 0.3s ease-in-out;
  place-items: center;
  display: none;
  z-index: 9999;
}
@media (max-width: 600px) {
  .side-menu {
    display: grid;
  }
}
.side-menu button {
  position: absolute;
  right: 10px;
  top: 15px;
  margin-top: 0;
  background: none;
  border: none;
}
.side-menu button img {
  width: 35px;
}
.side-menu ul {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.side-menu ul li {
  text-transform: uppercase;
}

.omega {
  width: 100%;
  background: url(../images/omegahead2.png);
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}
@media (max-width: 800px) {
  .omega {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.omega h1 {
  font-size: 56px;
  color: #6798a3;
}
@media (max-width: 800px) {
  .omega h1 {
    font-size: 40px;
  }
}

.omega-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 60px auto 0;
  color: #6798a3;
}
@media (max-width: 1030px) {
  .omega-details {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .omega-details {
    display: block;
  }
}
.omega-details p {
  font-size: 18px;
}
@media (max-width: 1030px) {
  .omega-details p {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .omega-details p {
    margin-top: 30px;
  }
}
.omega-details p span {
  font-weight: 700;
  color: #6798a3;
}
.omega-details a button {
  all: unset;
  padding: 17px 30px;
  border: 1px solid #6798a3;
  color: #6798a3;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.omega-details a button:hover {
  background-color: #6798a3;
  color: #fff;
}
@media (max-width: 1030px) {
  .omega-details a button {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .omega-details a button {
    margin-top: 30px;
  }
}

.omega-images {
  width: 80%;
  margin: 80px auto;
  padding-bottom: 40px;
}
@media (max-width: 1030px) {
  .omega-images {
    width: 90%;
  }
}
.omega-images h1 {
  margin-bottom: 30px;
}
.omega-images-container {
  width: 40%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}
@media (max-width: 800px) {
  .omega-images-container {
    height: 250px;
  }
}
.omega-images-container img {
  width: 90%;
  height: 100%;
  border-radius: 10px;
}
.slick-arrow {
  display: none !important;
}

.innovation {
  width: 100%;
  background: url(../images/landing.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}
@media (max-width: 800px) {
  .innovation {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.innovation h1 {
  font-size: 56px;
  color: #6798a3;
}
@media (max-width: 800px) {
  .innovation h1 {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .innovation h1 {
    font-size: 30px;
    padding: 0 20px;
  }
}
.innovation-image {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .innovation-image {
    width: 80%;
  }
}
.innovation-image img {
  width: 100%;
}

.innovation-image-container {
  width: 80%;
  margin: 80px auto;
  padding-bottom: 40px;
}
@media (max-width: 1030px) {
  .innovation-image-container {
    width: 90%;
  }
}
.innovation-image-container h1 {
  margin-bottom: 30px;
  text-align: center;
}

.back-to-home {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.back-to-home-button {
  all: unset;
  cursor: pointer;
}
.back-to-home-button img {
  width: 45px;
  transition: all 0.3s ease-in-out;
}
.back-to-home-button img:hover {
  margin-left: -10px;
}
.back-to-home-button:hover {
  all: unset;
  cursor: pointer;
}
.back-to-home-text {
  margin-left: 10px;
}

/*# sourceMappingURL=main.css.map */
